#contact iframe
{
    width: 100%;
    margin-top: 50px;
}

    
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_main_div {
    border: 1px solid grey;
    padding-left: 0px;
    padding-right: 0px;
    float: none;

}
.travel_main_div img {
    width: 100%;
}
.travel_main_div hr {
    width: 230px;
}
.travel_main_div h5, .travel_main_div p{
    margin-left: 20px;
}
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i {
    float: right;
}
.movie_text span {
    color: orange;
}
.environment_li {
    margin-top: 13px;
}
.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}
.environment_li img {
    border-radius: 25px;
}
.environment_li p {
    margin-top: 10px;
}
.head_ent {
    line-height: 2;

}
.books {
    cursor: pointer;
}
.books hr {
    margin-bottom: 10px;
}
.modal-content {
    margin-top: 10px;
    
}
.modal-body img{
    display: inline-block;
}
.para {
    margin-top: 10px;

}
.modal-body {
    text-align: center;
}